<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Story 5 Nofaldi</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body class="bodynya">
        {% if not isinya %}
        <div class="kosongnih1">
            <p>YOU DIDN'T PUT ANYTHING HERE YET</p>
            <a href="/isiform">Make Schedule</a>
            <a href="/">Back</a>
        </div>
        {% else %}
        <a href="/" class="mundurin">Back</a>
        <div class="content">
          {% for x in isinya %}
          <div class="boxed">
            <h1>{{ x.aktivitas }}</h1>
            <h3>{{ x.waktu }}</h3>
            {% for y in pesertanya %}
            {% if y.kegiatan == x %}
            <p>{{y.nama}}</p>
            {% endif %}
            {% endfor %}
            <form action="/activity/" method="POST">
              {% csrf_token %}
              <input type="text" name="anggota-baru" placeholder="Type Your Name" class="box-1-text-2">
              <input type="text" name="idnya" class="ilangnih" value="{{ x.id }}">
              <input type="submit" class="isian-aktivitas" value="add">
            </form>
            <a href="{% url 'story6:delete' id=x.id %}">Delete</a>
          </div>
          {% endfor %}
          {% endif %}
        </div>
    </body>
</html>