html {
    padding: 0;
    margin: 0;
}

body {
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #031321;
    font-family: consolas;
}



p {
    color: #2196f3;
    font-size: 50px;
}

a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

a:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}

a span {
    position: absolute;
    display: block;
}

a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#2196f3);
}

a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}

a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2196f3);
}

a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#2196f3);
}

a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#2196f3);
}

a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.box {
    width: 300px;
    height: 100%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    background: #031321;
    text-align: center;
}

.box label {
    color: white;
}
.box h1 {
    color: #2196f3;
    text-transform: uppercase;
    font-family: consolas;
    font-weight: 500;
}
.box input[type = "text"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus {
    width: 280px;
    border-color: #2ecc71;
}

.box input[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 100px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover {
    background: #2ecc71;
}

.jawaban {
    display: grid;
}
.isinya {
    display: block;
    justify-content: left;
}
.agenda h1 {
    color: #2ecc71;
}

.agenda {
    border-radius: 20px;
    margin-bottom: 0;
    display: block;
    background: #1b3042;
    box-shadow: 5px 5px rgba(0, 98, 90, 0.4),
                10px 10px rgba(0, 98, 90, 0.3),
                15px 15px rgba(0, 98, 90, 0.2),
                20px 20px rgba(0, 98, 90, 0.1),
                25px 25px rgba(0, 98, 90, 0.05);
}

.agenda a {
    color: #2ecc71;
}

.agenda a:hover{
    color: #255784;
    border-radius: 20px;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0s;
}

.bodynya {
    display: block;
}

.container {
    display: grid;
    justify-content: right;
    margin-bottom: 100px;
}

.btn-info{
    background-color: #2196f3;
}

.modal-header {
    background-color: #1b3042;
    color: white;
}

.modal-body {
    background-color: #031321;
}

.modal-footer {
    background-color: #1b3042;
}

.box-1-text {
    border: 0;
    background: none;
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    width: 150px;
    outline: none;
    color: white;
    border-radius: 20px;
    transition: 0.25s;
}

.box-1-submit {
    border: 0;
    background: none;
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    width: 100px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.content {
    justify-content: center;
    width: 100%;
    display: grid;
}

.boxed {
    display: grid;
    height: 350px;
    width: 300px;
    justify-content: center;
    border-radius: 20px;
    margin-left: 100px;
    margin-bottom: 100px;
    background: #1b3042;
    box-shadow: 5px 5px rgba(0, 98, 90, 0.4),
                10px 10px rgba(0, 98, 90, 0.3),
                15px 15px rgba(0, 98, 90, 0.2),
                20px 20px rgba(0, 98, 90, 0.1),
                25px 25px rgba(0, 98, 90, 0.05);
}

.boxed h1 {
    color: #2ecc71;
}

.isian-aktivitas {
    display: none;
}

.box-1-text-2 {
    border: 0;
    background: none;
    display: inline;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.ilangnih {
    display: none;
}
.boxed p {
    font-size: 20px;
    margin: 0px 0px;
}

.mundurin {
    bottom: 80%;
}

.kosongnih1 {
    margin-left: 400px;
    margin-top: 300px;
}