<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Story 5 Nofaldi</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <a href="/isiform">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Create Schedule
        </a>
        <p>|</p>
        <a href=/jadwalku>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Show Schedule
        </a>
        <p>|</p>
        <a href="/activity">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            My Activity
        </a>
    </body>
</html>