<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Story 5 Nofaldi</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body class="isinya">
        <p> Mata Kuliah : {{ nama }} </p>
        <p> Nama Dosen : {{ dosen }} </p>
        <p> Jumlah SKS : {{ SKS }} </p>
        <p> Deskripsi : {{ deskripsi }} </p>
        <p> Semester : {{ semester }} </p>
        <p> Kelas : {{ kelas }} </p>
        <table class="dedlen">
            {% for elemen in tugas %}
            <p>INI TUGAS LU CUK, SEBELAHNYA DEADLINENNYA</p>
            <tr>
                <td><p> {{ elemen.tugas }} </p></td>
                <td><p> {{ elemen.tugas_date }} </p></td>
            {% endfor %}
            </tr>
        </table>
       <a href="/jadwalku">Back</a>
    </body>
</html>    