<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Story 5 Nofaldi</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body class="jawaban">
        {% if not data %}
        <div class="kosongnih">
            <p>YOU DIDN'T PUT ANYTHING HERE YET</p>
            <a href="/isiform">Make Schedule</a>
            <a href="/">Back</a>
        </div>
        {% else %}
        {% for entry in data %}
        <div class="agenda">
            <a href="{% url 'showing:click' id=entry.id %}">{{entry.nama}}</a>
            <a href="{% url 'showing:delete' id=entry.id %}">Delete</a>
        </div>
        {% endfor %}
        <a href="/">Back</a>
        {% endif %}
    </body>
</html>    