<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Story 5 Nofaldi</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <form class="box"  method="POST">
            <h1>INPUT YOUR SCHEDULE</h1>
            {% csrf_token %}
            {{ form }}
            <h4 style="color: white;">kegiatan</h4>
            <input type="text" name="kegiatan">
            <input type="submit" name="" value="Submit">
            <a href="/">Back</a>
        </form>
    </body>
    
</html>